@tailwind base;
@tailwind components;
@tailwind utilities;

/* Temas */
:root {
    --bg-primary: #fff;
    --bg-secundary: #E5E7EB;
    --text-primary: #000;
    --text-secundary: #6E6E6E;
    --decoration: #FCA5A5;
    --background-start-rgb: 180, 180, 180;
    --background-end-rgb: 40, 40, 40;
    --black-80: #080808;
}

.dark {
    --bg-primary: #0E0E10;
    --bg-secundary: #18181B;
    --text-primary: #fff;
    --text-secundary: #6E6E6E;
    --decoration: #FCA5A5;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 100, 100, 100;
    --black-80: #080808;
}