@tailwind base;
@tailwind components;
@tailwind utilities;

/* Temas */
:root {
    --bg-primary: #fff;
    --bg-secundary: #E5E7EB;
    --bg-division: #D1D5DB;
    --text-primary: #000;
    --text-secundary: #6E6E6E;
    --hover-bg: #1F1F23;
    --hover-bg: #F3F3F6;
}

.dark {
    --bg-primary: #0E0E10;
    --bg-secundary: #18181B;
    --bg-division: #1F1F23;
    --text-primary: #fff;
    --text-secundary: #6E6E6E;
    --hover-bg: #1F1F23;
}